name: Upgrade the Terraform product module

on:
  workflow_call:
    inputs:
      product:
        description: 'The (lowercase with dashes for spaces) name of the product module'
        required: true
        type: string
      pytest-file:
        description: 'The cross-track upgrade pytest'
        required: true
        type: string
  workflow_dispatch:
    inputs:
      product:
        description: 'The (lowercase with dashes for spaces) name of the product module'
        required: true
        type: choice
        options:
        - cos
        - cos-lite
      pytest-file:
        description: 'The cross-track upgrade pytest'
        required: true
        type: choice
        options:
        - test_upgrade_1_to_2.py


jobs:
  terraform-upgrade:
    name: Upgrade the Terraform product module
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo snap install concierge --classic
          sudo concierge prepare -p microk8s --extra-snaps just,astral-uv,terraform
      - name: Test deploy and upgrade
        run: |
          just upgrade-${{ inputs.product }} ${{ inputs.pytest-file }}
