name: Upgrade product module

on:
  pull_request:
    branches:
      - main
    paths:
      - "**/*.tf"

jobs:
  promote:
    name: Upgrade
    uses: canonical/o11y-tester-operator/.github/workflows/_upgrade_product.yml@test/mt
    with:
      product: cos-lite
      pytest: test_upgrade_1_to_2.py
    secrets: inherit