name: Promote Charm

on:
  workflow_dispatch:
    inputs:
      promotion:
        type: choice
        description: Channel to promote from
        options:
          - edge -> beta
          - beta -> candidate
          - candidate -> stable
      track:
        type: choice
        description: Track to promote
        options:
          # We'll leave dev out since it only has the edge risk channel.
          - latest
          - 1
          - 2

jobs:
  promote:
    name: Promote
    uses: canonical/observability/.github/workflows/charm-promote.yaml@main
    with:
      promotion: ${{ github.event.inputs.promotion }}
    secrets: inherit
