name: Promote Charm

on:
  workflow_dispatch:
    inputs:
      promotion:
        type: choice
        description: Channel to promote from
        options:
          - edge -> beta
          - beta -> candidate
          - candidate -> stable
      track:
        type: string
        description: Track to promote
        default: latest
        required: false

jobs:
  promote:
    name: Promote
    uses: canonical/observability/.github/workflows/charm-promote.yaml@main
    with:
      promotion: ${{ github.event.inputs.promotion }}
    secrets: inherit
