name: Pull Requests


on:
  pull_request:
    branches:
      # TODO: uncomment the main branch once release CI passes.
      #- main
      - track/0

jobs:
  pull-request:
    name: PR
    uses: canonical/observability/.github/workflows/charm-pull-request.yaml@v1
    secrets: inherit
