name: Pull Requests

on:
  pull_request:
    branches:
      - main
      - track/0

jobs:
  pull-request:
    name: PR
    uses: canonical/observability/.github/workflows/charm-pull-request.yaml@feat/jdl-upload
    secrets: inherit
