name: Pull Requests

on:
  pull_request:
    branches:
      - main
      - track/0

jobs:
  pull-request:
    name: PR
    uses: canonical/o11y-tester-operator/.github/workflows/charm-pull-request.yaml@test/logs
    secrets: inherit
