name: Release

on:
  push:
    branches:
      - main
      - track/0

jobs:
  release:
    uses: canonical/observability/.github/workflows/charm-release.yaml@ci/use-charmcraft-remote-build-in-release
    secrets: inherit
    with:
      default-track: dev
