name: Release

#on:
  #push:
    #branches:
      #- main
      #- track/0

# TODO: remove below and uncomment the block above
on:
  pull_request:
    branches:
      - main


jobs:
  release:
    # TODO: revert this to main when #30 goes through.
    uses: canonical/observability/.github/workflows/charm-release.yaml@ci/release-remote-build
    secrets: inherit
    with:
      default-track: dev
      pack-using-remote-build: true
