name: Tiobe TiCS Analysis

on:
    pull_request:
        branches:
        - main
    workflow_dispatch:
    schedule:
    - cron: "0 0 * * 1"  # Runs at midnight UTC every Monday

jobs:
    tics:
        name: TiCs
        uses: canonical/observability/.github/workflows/charm-tiobe-scan.yaml@fix-tiobe-scan
        secrets: inherit
